@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>

<img src="~/images/contoso-university.jpg" alt="Contoso University Welcomes You!" />

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is an ivy league school filled with opportunity for aspiring
            web developers.
        </p>
        <p><a class="btn btn-default" href="~/Home/About">About Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Enrollment</h2>
        <p>View the current student enrollment.</p>
        <p><a class="btn btn-default" href="~/Students">View Enrollment &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For Instructors</h2>
        <p>Use the following link to view a list of instructors, courses taught by instructors,
        and student information.</p>
        <p><a class="btn btn-default" href="~/Instructors">View Instructor Info &raquo;</a></p>
    </div>
</div>